# basic section
common {
    # mandatory arguments
    # bound =
    # time-bound =

    threshold = 0.01
    solver = "auto"                 # dreal , yices , z3
    time-horizon = "time-bound"
    parallel = "false"
    visualize = "false"
    goal = "all"
    two-step = "false"
    verbose = "false"               # print verbose messages
    reach = "false"
    only-loop = "false"
    parallel-core = 5
    gen-seed = -1                   # -1 = "not set, fall back to PYTHONHASHSEED"
}

# underlying solver
z3      {
    logic = "QF_NRA" # "QF_LRA"
}
yices   {
    logic = "QF_NRA" # "QF_LRA"
}
dreal {
    precision = 0.001
    ode-order = 20
    # ode-step omitted for dReal automatic step control
    executable-path = "3rd_party/dReal3/dReal" # dreal executable path
}

gen {
}